<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메인 페이지</title>
</head>
<body>

<a href="/user/letter/1">
    편지 보기
</a><br>
<a href="/user/letter/send_letter">
    편지 쓰기
</a><br>
<a href="/user/letter/send_letters">
    내가 보낸 편지 보기
</a><br>
<a href="/user/letter/receive_letters">
    내가 받은 편지 보기
</a><br>


</body>
</html>

<script>
</script>