<script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBtdsFt2XgsBB-Xe6sHUEDmvG8meeQrU1M",
        authDomain: "stellar-day-406808.firebaseapp.com",
        projectId: "stellar-day-406808",
        storageBucket: "stellar-day-406808.appspot.com",
        messagingSenderId: "584901529261",
        appId: "1:584901529261:web:6a17d8704a55fba4c6c024",
        measurementId: "G-CFMTVGZ1V9"
    };
    firebase.initializeApp(firebaseConfig);
</script>

